<FluentDesignSystemProvider 
    AccentBaseColor="@this.ViewModel.AccentBaseColor"
    NeutralBaseColor="@this.ViewModel.NeutralBaseColor"
    BaseLayerLuminance="@this.ViewModel.BaseLayerLuminace">
    <ErrorLoggingBoundary>
        <div class="app-container @(this.ViewModel.WindowState == WindowState.Maximized ? "maximized" : "")">
            <WindowBorders OnResize="@this.ViewModel.StartResize" />

            <WindowTitlebar WindowState="@this.ViewModel.WindowState"
                            OnTitleBarDrag="@this.ViewModel.Drag"
                            OnNavigationButtonClick="@this.ViewModel.ToggleNavigationMenu"
                            OnBugButtonClick="@this.ViewModel.OpenIssues"
                            OnSyncButtonClick="@this.ViewModel.OpenSynchronizationView"
                            OnCloseButtonClick="@this.ViewModel.Close"
                            OnMinimizeButtonClick="@this.ViewModel.Minimize"
                            OnMaximizeButtonClick="@this.ViewModel.Maximize"
                            OnRestoreButtonClick="@this.ViewModel.Restore" />

            <StatusBar IsAdmin="@this.ViewModel.IsAdmin"
                       CurrentVersionText="@this.ViewModel.CurrentVersionText"
                       CreditText="@this.ViewModel.CreditText"
                       OpenCreditLink="@this.ViewModel.OpenCreditLink" />

            <!-- Main Content Area -->
            <div class="main-content">
                <!-- Content Area -->
                <div class="content-area">
                    <div class="page-content">
                        <ViewContainer />
                    </div>
                </div>

                <!-- Navigation Panel -->
                <NavigationMenu 
                    MenuCategories="@this.ViewModel.MenuCategories"
                    MenuButtonHandler="this.ViewModel.MenuButtonClicked"
                    IsNavigationOpen="@this.ViewModel.IsNavigationOpen" />
            </div>
        </div>
    </ErrorLoggingBoundary>
</FluentDesignSystemProvider>

@code {
    [Inject]
    public required AppViewModel ViewModel { get; init; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.ViewModel.WindowStateChanged += this.OnWindowStateChanged;
        this.ViewModel.RedrawRequested += (_, __) => this.InvokeAsync(this.StateHasChanged);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            this.ViewModel.InitializeApp();
        }
    }

    private void OnWindowStateChanged(object? sender, WindowState state)
    {
        this.StateHasChanged();
    }
}