<div class="container">
    <div class="title-bar-additional-btns-left">
        <button class="title-bar-btn" @onclick="this.ViewModel.CreateNewLaunchConfiguration" title="Add new launch configuration">
            <FluentIcon Value="new Icons.Regular.Size16.Add()" />
        </button>
    </div>
    <div class="content backdrop-panel">
        <div class="option-view-title">
            <h3>Launch Configurations</h3>
        </div>
        <div class="launch-configs-list">
            @foreach (var config in this.ViewModel.LaunchConfigurations)
            {
                <div class="launch-configs-row">
                    <div class="launch-config-identifier">
                        <div class="launch-config-identifier-label">
                            <FluentLabel>Identifier</FluentLabel>
                        </div>
                        <div class="launch-config-identifier-field">
                            <FluentTextField Value="@config.Identifier"
                                             ReadOnly="true"
                                             Spellcheck="false"
                                             Placeholder="Launch config identifier">
                                <FluentIcon Value="@(new Microsoft.Fast.Components.FluentUI.Icons.Regular.Size16.Delete())"
                                            @onclick="@(() => this.ViewModel.DeleteLaunchConfiguration(config))"
                                            slot="end"
                                            Color="Color.Neutral"
                                            Title="Delete launch configuration" />
                            </FluentTextField>
                        </div>
                    </div>
                    <div class="launch-config-executable">
                        <div class="launch-config-executable-label">
                            <FluentLabel>Executable</FluentLabel>
                        </div>
                        <div class="launch-config-executable-field">
                            <FluentSelect TOption="string"
                                          Multiple="false"
                                          Items="@this.ViewModel.Executables"
                                          SelectedOption="@config.ExecutablePath"
                                          SelectedOptionChanged="@((newValue) => this.ViewModel.ExecutableChanged(config, newValue))">
                                <OptionTemplate>
                                    @(string.IsNullOrWhiteSpace(context) ? "Any Executable" : context)
                                </OptionTemplate>
                            </FluentSelect>
                        </div>
                    </div>
                    <div class="launch-config-credentials">
                        <div class="launch-config-credentials-label">
                            <FluentLabel>Credentials</FluentLabel>
                        </div>
                        <div class="launch-config-credentials-field">
                            <FluentSelect TOption="string"
                                          Multiple="false"
                                          Items="@this.ViewModel.Credentials.Select(c => c.Identifier ?? string.Empty)"
                                          SelectedOption="@(config.Credentials?.Identifier ?? string.Empty)"
                                          SelectedOptionChanged="@((newValue) => this.ViewModel.CredentialsChanged(config, newValue))">
                                <OptionTemplate>
                                    @(this.ViewModel.Credentials.FirstOrDefault(c => c.Identifier == context)?.Username ?? "Unknown")
                                </OptionTemplate>
                            </FluentSelect>
                        </div>
                    </div>
                    <div class="launch-config-args">
                        <div class="launch-config-args-label">
                            <FluentLabel>Custom Arguments</FluentLabel>
                        </div>
                        <div class="launch-config-args-field">
                            <FluentTextField Value="@config.Arguments"
                                             ValueChanged="@((newValue) => this.ViewModel.CustomArgsChanged(config, newValue))"
                                             Spellcheck="false"
                                             Immediate="true"
                                             ImmediateDelay="500"
                                             InputMode="InputMode.Text"
                                             AutoComplete="false"
                                             Placeholder="Launch arguments"/>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@using Daybreak.Shared.Models;
@page "/launch-configurations"
@inherits ViewBase<LaunchConfigurationsView, LaunchConfigurationsViewModel>