<div style="text-align: center; margin-bottom: 2rem;">
    <h3>@this.ViewModel.OptionInstance?.Type.Name</h3>
</div>

@if (this.ViewModel.OptionInstance is not null)
{
    <div style="display: flex; flex-direction: column; gap: 0.75rem; max-width: 700px; margin: 0 auto;">
        @foreach (var property in this.ViewModel.OptionInstance.Type.Properties)
        {
            @if (!property.IsVisible)
            {
                continue;
            }

            @if (property.Type == typeof(bool))
            {
                <BooleanOption
                    Name="@property.Name"
                    Description="@property.Description"
                    Instance="@this.ViewModel.OptionInstance"
                Property="@property"/>
            }
            else if (property.Type == typeof(int) ||
                    property.Type == typeof(uint) ||
                    property.Type == typeof(long) ||
                    property.Type == typeof(ulong) ||
                    property.Type == typeof(short) ||
                    property.Type == typeof(ushort) ||
                    property.Type == typeof(float) ||
                    property.Type == typeof(double))
            {
                @if (property.Validator is not null)
                {
                    <NumberRangeOption Name="@property.Name"
                                       Description="@property.Description"
                                       Instance="@this.ViewModel.OptionInstance"
                                       Property="@property"
                                       Validator="@property.Validator" />
                }
                else
                {
                    <NumberOption Name="@property.Name"
                                  Description="@property.Description"
                                  Instance="@this.ViewModel.OptionInstance"
                                  Property="@property" />
                }
            }
            else if (property.Type.IsEnum)
            {
                var possibleValues = Enum.GetValues(property.Type).OfType<object>().ToList();
                <MultiSelectOption Name="@property.Name"
                                   Description="@property.Description"
                                   Instance="@this.ViewModel.OptionInstance"
                                   Property="@property"
                                   PossibleValues="@possibleValues"/>
            }
            else
            {
                <StringOption Name="@property.Name"
                              Description="@property.Description"
                              Instance="@this.ViewModel.OptionInstance"
                    Property="@property"/>
            }
        }
    </div>
}

@page "/options/{optionName}"
@inherits ViewBase<OptionView, OptionViewModel>
@code {
    [Parameter]
    public required string OptionName { get; set; }

    protected override Task OnParametersSetAsync()
    {
        this.ViewModel.Initialize(CancellationToken.None);
        return base.OnParametersSetAsync();
    }
}
